<IfModule mod_rewrite.c>
    Options +FollowSymLinks -MultiViews
    RewriteEngine on
    RewriteBase /

    RewriteCond %{HTTP_HOST} !^localhost$
    RewriteRule . - [E=REWRITEBASE:/]
    
    RewriteCond %{HTTP_HOST} ^localhost$
    RewriteRule . - [E=REWRITEBASE:/]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule .* %{ENV:REWRITEBASE}index.php [L,QSA]

    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
</IfModule>
